In [1]:
import os, sys
import pandas as pd 
import numpy as np
from tqdm import tqdm
tqdm.pandas() # for progress_apply

parent_dir_name=os.path.basename(os.path.dirname(os.getcwd()))
if parent_dir_name=='lobbying-market':
    os.chdir(os.path.pardir)
    print(os.getcwd())
    utils_path= os.path.abspath('utils')
    sys.path.append(utils_path)

import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

c:\Users\nicoj\OneDrive - University Of Oregon\GitHub\lobbying-market

In [2]:
os.getcwd()

'c:\\Users\\nicoj\\OneDrive - University Of Oregon\\GitHub\\lobbying-market'

In [3]:
df=pd.read_pickle('data_processing/yfinance_stocks_scrape/data_with_mp.pkl')
df.head()

                     count  nan     income   expenses      total         end  \
ticker year quarter
MSFT   2013 1         23.0  0.0  1057500.0  2530000.0  3587500.0  2013-03-31
            2         23.0  0.0   980000.0  2960000.0  3940000.0  2013-06-30
            3         23.0  0.0   987000.0  2230000.0  3217000.0  2013-09-30
            4         24.0  0.0  1070000.0  2770000.0  3840000.0  2013-12-31
       2014 1         22.0  0.0   937000.0  2080000.0  3017000.0  2014-03-31

                              val qtstr      sector                 industry  \
ticker year quarter
MSFT   2013 1        1.341050e+11    Q1  Technology  Software—Infrastructure
            2        1.424310e+11    Q2  Technology  Software—Infrastructure
            3        1.423480e+11    Q3  Technology  Software—Infrastructure
            4        1.535430e+11    Q4  Technology  Software—Infrastructure
       2014 1        1.561190e+11    Q1  Technology  Software—Infrastructure

                     market_performance     ratio  income_ratio  \
ticker year quarter
MSFT   2013 1                  9.003151  0.000022      0.000007
            2                 -2.685384  0.000016      0.000007
            3                  4.801043  0.000019      0.000008
            4                  6.418472  0.000014      0.000006
       2014 1                  3.987568  0.000015      0.000006

                     expenses_ratio  total_ratio
ticker year quarter
MSFT   2013 1              0.000022     0.000029
            2              0.000016     0.000023
            3              0.000019     0.000027
            4              0.000014     0.000020
       2014 1              0.000015     0.000021

In [4]:
tickers = df.index.get_level_values(0).unique()
print(tickers[:15])

Index(['MSFT', 'AAPL', 'NVDA', 'AMZN', 'GOOGL', 'META', 'TSLA', 'COST', 'AMD',
       'NFLX', 'PEP', 'ADBE', 'CSCO', 'TMUS', 'QCOM'],
      dtype='object', name='ticker')

In [5]:
key='GOOGL'
corr_df=df[['income_ratio','expenses_ratio','total_ratio', 'market_performance']].loc[key,:,:].corr()
corr_df['ticker']=key
corr_df.set_index('ticker',inplace=True)
corr_df.iloc[[3]]

        income_ratio  expenses_ratio  total_ratio  market_performance
ticker
GOOGL      -0.167338        -0.18946     -0.18749                 1.0

In [6]:
all_corr_df=pd.DataFrame(columns=['income_ratio','expenses_ratio','total_ratio', 'market_performance'])
for key in tickers:
    corr_df=df[['income_ratio','expenses_ratio','total_ratio', 'market_performance']].loc[key,:,:].corr()
    corr_df['ticker']=key
    corr_df.set_index('ticker',inplace=True)
    aux_row=corr_df.iloc[[3]]
    all_corr_df=pd.concat([all_corr_df,aux_row])

C:\Users\nicoj\AppData\Local\Temp\ipykernel_34356\920736812.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_corr_df=pd.concat([all_corr_df,aux_row])

In [7]:
all_corr_df.head()

       income_ratio  expenses_ratio  total_ratio  market_performance
MSFT       0.043363       -0.032453    -0.012117                 1.0
AAPL       0.092302        0.210068     0.203798                 1.0
NVDA       0.326888             NaN     0.326888                 1.0
AMZN       0.156252        0.342212     0.318173                 1.0
GOOGL     -0.167338       -0.189460    -0.187490                 1.0