In [2]:
import pandas as pd
import yfinance as yf

In [41]:
"""
Tickers for the 11 sectors of the S&P 500:
Communication Services (formerly Telecommunication Services): XLC
Consumer Discretionary: XLY
Consumer Staples: XLP
Energy: XLE
Financials: XLF
Health Care: XLV
Industrials: XLI
Information Technology: XLK
Materials: XLB
Real Estate: XLRE
Utilities: XLU
['XLC','XLY','XLP','XLE','XLF','XLV','XLI','XLK','XLB','XLRE','XLU']
"""
tickers = ['XLC','XLY','XLP','XLE','XLF','XLV','XLI','XLK','XLB','XLRE','XLU']
names = ['Communication Services','Consumer Discretionary','Consumer Staples','Energy','Financials','Health Care','Industrials','Information Technology','Materials','Real Estate','Utilities']
for i in range(len(tickers)):
    SP500 = yf.download(tickers[i], start='2013-01-01', end='2023-12-31')
    SP500 = SP500.loc[:,['Adj Close']]
    SP500['Yesterday'] = SP500['Adj Close'].shift(+1)
    SP500['Return'] = (SP500['Adj Close'] - SP500['Yesterday']) / SP500['Yesterday']
    SP500.to_csv('SP500_'+ names[i] +'.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [36]:
SP500_sectors.head()

            Adj Close
Date
2018-06-19  47.428028
2018-06-20  48.016609
2018-06-21  47.722313
2018-06-22  47.931179
2018-06-25  46.943886

Date
2024-04-15    95.230003
2024-04-16    94.400002
Name: Close, dtype: float64