In [6]:
# import modules
import os, sys
import requests
import pandas as pd
from tqdm import tqdm
tqdm.pandas() # for progress_apply

import numpy as np

#Make sure to run this only once, to make lobbying-market the working directory
parent_dir_name=os.path.basename(os.path.dirname(os.getcwd()))
if parent_dir_name=='lobbying-market':
    os.chdir(os.path.pardir)
    print(os.getcwd())
    utils_path= os.path.abspath('utils')
    sys.path.append(utils_path)

In [7]:
df = pd.read_pickle('companyData.pkl') #to load 123.pkl back to the dataframe df

In [8]:
df

,ticker,title,assets,sector,industry,assets_summary
0,MSFT,MICROSOFT CORP,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Software—Infrastructure,end val quarter year 0 ...
1,AAPL,Apple Inc.,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Consumer Electronics,end val quarter year 0 ...
2,NVDA,NVIDIA CORP,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Semiconductors,end val quarter year 0 ...
3,AMZN,AMAZON COM INC,"{'label': 'Assets', 'description': 'Sum of the...",Consumer Cyclical,Internet Retail,end val quarter year 0 ...
4,GOOGL,Alphabet Inc.,"{'label': 'Assets', 'description': 'Sum of the...",Communication Services,Internet Content & Information,end val quarter year 0 ...
...,...,...,...,...,...,...
3179,PLTNW,Plutonian Acquisition Corp.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...
3180,ROCLU,Roth CH Acquisition V Co.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...
3181,ROCLW,Roth CH Acquisition V Co.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...
3182,ALCYW,Alchemy Investments Acquisition Corp 1,"{'label': 'Assets', 'description': 'Sum of the...",None,None,end val quarter year 0 ...
3183,IBACU,IB Acquisition Corp.,None,Financial Services,Shell Companies,None

In [14]:
df = df.dropna(axis=0, how='any')

In [15]:
df

,ticker,title,assets,sector,industry,assets_summary
0,MSFT,MICROSOFT CORP,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Software—Infrastructure,end val quarter year 0 ...
1,AAPL,Apple Inc.,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Consumer Electronics,end val quarter year 0 ...
2,NVDA,NVIDIA CORP,"{'label': 'Assets', 'description': 'Sum of the...",Technology,Semiconductors,end val quarter year 0 ...
3,AMZN,AMAZON COM INC,"{'label': 'Assets', 'description': 'Sum of the...",Consumer Cyclical,Internet Retail,end val quarter year 0 ...
4,GOOGL,Alphabet Inc.,"{'label': 'Assets', 'description': 'Sum of the...",Communication Services,Internet Content & Information,end val quarter year 0 ...
...,...,...,...,...,...,...
3176,SLNHP,"Soluna Holdings, Inc","{'label': 'Assets', 'description': 'Sum of the...",Technology,Information Technology Services,end val quarter year 0 ...
3177,DHAIW,"DIH HOLDING US, INC.","{'label': 'Assets', 'description': 'Sum of the...",Healthcare,Medical Devices,end val quarter year 0 ...
3179,PLTNW,Plutonian Acquisition Corp.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...
3180,ROCLU,Roth CH Acquisition V Co.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...
3181,ROCLW,Roth CH Acquisition V Co.,"{'label': 'Assets', 'description': 'Sum of the...",Financial Services,Shell Companies,end val quarter year 0 ...

In [17]:
pd.to_pickle(df, 'assets/processed_companyData.pkl') #to save the dataframe df to 123.pkl